@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@500&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Sarabun', sans-serif;
    font-family: 'Varela Round', sans-serif;
    /* overflow: hidden; */
    box-sizing: border-box;
}
body{
    background: #1D1F20;
}
table{
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    color: #e5e5e5;
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
@media (min-width: 501px){
    .container{
        border: 2px solid transparent;
        border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
        border-image-slice: 1;
    }
}
.day{
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}
.subject{
    text-align: center;
}
@media (max-width: 500px){
    .container{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }
}  

.subject{
    transition: transform 0.5s;
}
.subject:hover{
    z-index: 999;
    transform: scale(1.3,1.3);
    background-color: #f37055;
}